In [7]:
#Array
from array import *
array1 = array('i', [10,20,30])
for i in array1:
    print (i);

10
20
30

In [18]:
#List implementation
list1 = ['anto','devi','dhivya','grace']
print (list1[1])

list2 = [1,2,3,4]
print(list2[2])

#update list
list1[1]='Devi Loganathan'

#Add data
list1.append('JP')
list1.append('Muthu')
list1.append('Sathya')
list1.append('Vino')
#loop through the list
for i in list1:
    print (i);
    
#Print a set from the list
print(list1[1:5])

devi
3
anto
Devi Loganathan
dhivya
grace
JP
Muthu
Sathya
Vino
['Devi Loganathan', 'dhivya', 'grace', 'JP']

In [25]:
#Tuple implementation: Immutable data structure

#Declare a tuple
t1 = "a","b","c"
print(t1[2])
print("--tuple activities(t2)--")
t2 = ('anto','devi','dhivya','grace')

#Loop through the tuple t2
for i in t2:
    print(i)

#Add new values to tuple t2 
l = list(t2)
l.append('JP')
t2 = tuple(l)

print(t2)

#Add more
l = list(t2)
l.append('Muthu')
l.append('Dathya')
l.append('Vinoth')
t2=tuple(l)

print(t2)

#Update values
l = list(t2)
l[6] = 'Sathya'
l[7] = 'Vino'
t2 = tuple(l)

print(t2)

c
--tuple activities(t2)--
anto
devi
dhivya
grace
('anto', 'devi', 'dhivya', 'grace', 'JP')
('anto', 'devi', 'dhivya', 'grace', 'JP', 'Muthu', 'Dathya', 'Vinoth')
('anto', 'devi', 'dhivya', 'grace', 'JP', 'Muthu', 'Sathya', 'Vino')